.image {
    text-align: center;
    position: relative;
    color: black;
}

.boddy {
    background-color: rgb(157, 192, 238);
}

.head {
    color: black;
    position: absolute;
    top: 15%;
    left: 43%;
}

.butt {
    position: absolute;
    top: 35%;
    left: 45.8%;
}

body {
    color: rgb(7, 36, 61);
}

.inputregno {
    color: black;
    position: absolute;
    top: 40%;
    left: 42.2%;
}

.dobb {
    position: absolute;
    top: 50%;
    left: 43.8%;
    ;
}

.butt1 {
    position: absolute;
    top: 60%;
    left: 54%;
}

.butt2 {
    position: absolute;
    top: 50%;
    left: 45.8%;
}

.orc {
    position: absolute;
    top: 43.3%;
    left: 41%;
}

.pdnote {
    position: absolute;
    top: 1%;
    left: 2%;
    right: 2%;
}

.pdpassno {
    position: absolute;
    top: 35%;
    left: 36%;
}

.pdusn {
    position: absolute;
    top: 45%;
    left: 42.9%;
}

.pdbutt {
    position: absolute;
    top: 55%;
    left: 54.5%;
}

.regn {
    position: absolute;
    top: 5%;
    left: 37%;
}

.regu {
    position: absolute;
    top: 15%;
    left: 41.2%;
}

.regb {
    position: absolute;
    top: 25%;
    left: 39.5%;
}

.regs {
    position: absolute;
    top: 35%;
    left: 41.3%;
}

.regc {
    position: absolute;
    top: 45%;
    left: 35.1%;
}

.regbp {
    position: absolute;
    top: 55%;
    left: 40%;
}

.borpoi {
    position: absolute;
    top: 65%;
    left: 33.9%;
}

.nexts {
    position: absolute;
    top: 90%;
    left: 70%;
}

.regd {
    position: absolute;
    top: 75%;
    left: 42.4%;
}

.copyr {
    position: absolute;
    bottom: 5%;
    left: 45.2%;
}

.email {
    position: absolute;
    top: 85%;
    left: 42.2%;
}

.bus1 {
    position: absolute;
    top: 5%;
    left: 4%;
}

.bus2 {
    position: absolute;
    top: 25%;
    left: 4%;
}

.bus3 {
    position: absolute;
    top: 45%;
    left: 4%;
}

.bus4 {
    position: absolute;
    top: 5%;
    right: 4%;
}

.bus5 {
    position: absolute;
    top: 25%;
    right: 4%;
}

.bus6 {
    position: absolute;
    top: 45%;
    right: 4%;
}

.bus7 {
    position: absolute;
    top: 5%;
    left: 41%;
}

.bus8 {
    position: absolute;
    top: 25%;
    left: 41%;
}

.bus9 {
    position: absolute;
    top: 45%;
    left: 41%;
}

.image.regphp {
    position: absolute;
    top: 45%;
    left: 47%;
}